main
{
	padding: 5vw;
	
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Open Sans", "Helvetica Neue", sans-serif;
	
	background: #CCC;
}

main > div.display
{
	margin-bottom: 5vw;
}

main > div.display > output
{
	display: block;
	
	padding: 1vw;
	
	font-size: 10vw;
	font-family: Ubuntu Mono, Consolas, monospace;
	line-height: 1;
	text-align: right;
	white-space: nowrap;
	
	background: white;
}

main > div.buttons
{
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1vw;
}

main > div.buttons > button
{
	padding: 1vw 0;
	
	font-size: 5vw;
}
